uvicorn==0.34.0
python-keycloak==5.3.1
PyJWT==2.10.1
fastapi[standard]==0.115.8
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.37
langchain-openai==0.3.6
langchain-postgres==0.0.13
langchain-text-splitters==0.3.6
opentelemetry-instrumentation-langchain==0.38.7
traceloop-sdk==0.38.7
langgraph==0.2.74