uvicorn==0.40.0
python-keycloak==7.0.3
PyJWT==2.11.0
fastapi[standard]==0.128.5
langchain==1.2.6
langchain-community==0.4.1
langchain-core==1.2.7
langchain-openai==1.1.7
langchain-postgres==0.0.16
langchain-text-splitters==1.1.0
opentelemetry-instrumentation-langchain==0.52.2
traceloop-sdk==0.52.2
langgraph==1.0.8
sqlalchemy[asyncio]==2.0.46
asyncpg==0.31.0
alembic==1.18.3
psycopg2-binary==2.9.11
