uvicorn==0.40.0
python-keycloak==7.0.2
PyJWT==2.10.1
fastapi[standard]==0.128.0
langchain==1.2.3
langchain-community==0.4.1
langchain-core==1.2.7
langchain-openai==1.1.7
langchain-postgres==0.0.16
langchain-text-splitters==1.1.0
opentelemetry-instrumentation-langchain==0.50.1
traceloop-sdk==0.50.1
langgraph==1.0.5
sqlalchemy[asyncio]==2.0.45
asyncpg==0.31.0
alembic==1.18.0
psycopg2-binary==2.9.11
