langchain==1.2.0
langchain-community==0.4.1
langchain-core==1.2.6
langchain-openai==1.1.6
langchain-text-splitters==1.1.0
langchain-postgres==0.0.16
pypdf==6.5.0
boto3==1.42.24
markitdown==0.1.4
nltk==3.9.2
unstructured[md]==0.18.26
wikipedia==1.4.0