langchain==1.2.10
langchain-community==0.4.1
langchain-core==1.2.16
langchain-openai==1.1.10
langchain-text-splitters==1.1.1
langchain-postgres==0.0.17
pypdf==6.9.1
boto3==1.42.73
markitdown==0.1.5
nltk==3.9.3
unstructured[md]==0.18.32
wikipedia==1.4.0