langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.66
langchain-openai==0.2.14
langchain-text-splitters==0.3.8
langchain-postgres==0.0.12
pypdf==6.5.0
boto3==1.42.16
markitdown==0.1.4
nltk==3.9.2
unstructured[md]==0.18.21
wikipedia==1.4.0