name: run-frontend-build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:  

      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Dependencies
        working-directory: frontend
        run: |
          npm install

      - name: Run Build
        working-directory: frontend
        run: |
          npm run build
          
